@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Grand+Hotel);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono);

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-weight: 400;
  color: #333;
  background-color: #f6f6f6;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  font-feature-settings: "liga", "kern";
  font-family: 'Fira Sans', sans-serif;
}

.navbar {
  padding-top: 20px;
}

.navbar__link {
  padding: 0 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar__link:last-child {
  border-right: none;
}

@media screen and (max-width: 400px) {
  .navbar__link:nth-child(2) {
    border-right: none;
  }

  .navbar__link:last-child {
    display: block;
  }

  .main-header__content {
    position: relative !important;
    transform:none !important;
    top: 0 !important;
    left: 0 !important;
    margin-top: 50px;
  }
}

.main-header {
  width: 100%;
  height: 335px;
  color: #f6f6f6;
  text-align: center;
  background-color: #6885d0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.main-header a {
  color: #f6f6f6;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main-header__content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.main-header__btn {
  color: #6885d0;
  padding: 10px;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
  transition: box-shadow 0.1s linear, transform 0.1s linear;
  background: linear-gradient(to bottom, #ffef5a, #d4cb72);
  box-shadow: 0 0 1px #c6bd64, 0 1px 1px #aaa155,
              0 1px 1px #c6bd64, 0 2px 1px #aaa155,
              0 2px 1px #c6bd64, 0 3px 1px #aaa155,
              0 3px 1px #c6bd64, 0 4px 1px #aaa155,
              0 4px 1px #c6bd64, 0 5px 1px #aaa155,
              0 5px 1px #c6bd64, 0 7px 0 rgba(0, 0, 0, 0.05),
              0 8px 0 rgba(0, 0, 0, 0.05), 0 9px 0 rgba(0, 0, 0, 0.04),
              0 10px 0 rgba(0, 0, 0, 0.04), 0 11px 0 rgba(0, 0, 0, 0.03),
              0 12px 0 rgba(0, 0, 0, 0.03), 0 13px 0 rgba(0, 0, 0, 0.02),
              0 14px 0 rgba(0, 0, 0, 0.02), 0 15px 0 rgba(0, 0, 0, 0.01),
              0 16px 0 rgba(0, 0, 0, 0.01), 0 17px 0 rgba(0, 0, 0, 0.01),
              0 18px 0 rgba(0, 0, 0, 0.01), inset 0 4px 5px -2px rgba(255, 255, 255, 0.5),
              inset 0 1px 0 0 rgba(0, 0, 0, 0.3);
}

.main-header__btn:active {
  box-shadow: inset 1px 2px 3px rgba(0,0,0,0.2);
  transform: translate3d(0px, 6px, 0);
}

.main-info {
  max-width: 1024px;
  margin: 0 auto;
  min-height: 400px;
}

.benefits {
  padding: 0 50px 25px 50px;
}

.benefit {
  float: left;
  width: 47.5%;
  margin-top: 40px;
  margin-right: 2%;
  height: 120px;
}

.benefit:nth-child(2n) {
  margin-right: 0;
  float: right;
}

.benefit-text {
  color: #7F8C8D;
}

@media screen and (max-width: 600px) {
  .benefit {
    float: none;
    width: 100%;
    height: inherit;
    margin: 0;
    padding: 20px 0;
  }
}

.documentation {
  max-width: 550px;
  margin: 0 auto;
  padding: 0 25px;
}

.documentation h3 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 0;
  margin-top:15px;
}

.documentation h4 {
  font-size: 1.5em;
  margin-top: 1em;
  border-top: 1px dashed rgba(0,0,0,0.1);
  padding-top: 1em;
}

.typewriter {
  text-align: center;
}

#typewriter {
  width: 67%;
}

.cp_embed_wrapper {
  width: 120%;
  margin-left: -10%;
}

@media screen and (max-width: 600px) {
  .cp_embed_wrapper {
    width: 100%;
    margin-left: 0;
  }
}

.doc-navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 135px;
  background: white;
  font-size: 0.8em;
  padding: 10px 5px;
}

.doc-navigation ul {
  list-style-type: none;
  padding:0;
  margin:0;
}

table {
  width: 100%;
}

td {
  border-top: 1px solid rgba(0,0,0,0.2);
  vertical-align: top;
  padding:2% 1%;
}

.prettyprint {
  width: 95%;
  padding: 10px;
  font-family: "Consolas", "Monaco", "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Courier New", monotype, sans-serif;
  font-size: 12px;
  display: block;
  tab-size: 2;
  background: #fafafa;
  white-space: pre;
  overflow: auto;
}

pre {
  margin: 0;
}

.footer {
  height: 80px;
  margin-top:50px;
  width: 100%;
  color: #f6f6f6;
  text-align: center;
  background-color: #6885d0;
  box-shadow: 0 -2px 4px rgba(0,0,0,0.3);
}

.footer a {
  color: #f6f6f6;
  padding: 20px;
}

